{% extends 'base.html.twig' %}
{% block body %}
	<h1>Contactos</h1>
	<h2>Bienvenido a la web de contactos.</h2>
	<p>Página de inicio</p>
	{% for contacto in contactos %}
		 {{ include('partials/datos_contacto.html.twig', {'contacto': contacto}) }}
	{% endfor %}

	<ul>
	{% for contacto in contactos %}
    	<li>
        	<a href="{{ path('ficha_contacto', {'codigo': contacto.id}) }}">
            	{{ contacto.nombre }}
        	</a>
    	</li>
	{% endfor %}
	</ul>

	<a href="{{ path('insertar_contacto') }}">Añadir 5 contactos sin provincia</a>
	<br>
	<a href="{{ path('nuevo') }}">Añadir contacto</a>

{% endblock %}
